# Created by .ignore support plugin (hsz.mobi)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# pycharm
.idea


/knowledge_base/log.txt
/knowledge_base/logs/
/knowledge_base/scraped_data/
/knowledge_base/Scripts/

/knowledge_base/html_pages/*.html

/aimlx-demos-master

/solr-6.4.1 14.31.10/Old_file/Second_Pipeline/
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/Output_duplicat/

/solr-6.4.1 14.31.10/bin/
/solr-6.4.1 14.31.10/contrib/
/solr-6.4.1 14.31.10/dist/
/solr-6.4.1 14.31.10/docs/
/solr-6.4.1 14.31.10/example/
/solr-6.4.1 14.31.10/licenses/
!/solr-6.4.1 14.31.10/server/solr/Evaluation/
/solr-6.4.1 14.31.10/usr/
/solr-6.4.1 14.31.10/server/contexts/
/solr-6.4.1 14.31.10/server/etc/
/solr-6.4.1 14.31.10/server/lib/
/solr-6.4.1 14.31.10/server/logs/
/solr-6.4.1 14.31.10/server/modules/
/solr-6.4.1 14.31.10/server/resources/
/solr-6.4.1 14.31.10/server/scripts/
/solr-6.4.1 14.31.10/server/solr/ProductDB/
/solr-6.4.1 14.31.10/server/solr/TestCore/
/solr-6.4.1 14.31.10/server/solr/configsets/
/solr-6.4.1 14.31.10/server/solr/gettingstarted/
/solr-6.4.1 14.31.10/.idea/
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/.ipynb_checkpoints/
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/duplicates_and_original_questions.json
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/Evaluation(COPY).ipynb
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/evaluation.json
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/evaluationCopy.json
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/evaluationWithOnlyDuplicate.csv
/solr-6.4.1 14.31.10/Old_file/EvaluationDB/schema.json
/solr-6.4.1 14.31.10/server/solr-webapp/
/solr-6.4.1 14.31.10/server/solr/Evaluation/data/
/solr-6.4.1 14.31.10/server/solr/Evaluation/conf/lang/
/solr-6.4.1 14.31.10/chatbot-information-retrieval/ubuntu-ranking-dataset-creator/

/solr-6.4.1 14.31.10/chatbot-information-retrieval/scripts/data/
/solr-6.4.1 14.31.10/chatbot-information-retrieval/scripts/superuser/
/solr-6.4.1 14.31.10/chatbot-information-retrieval/runs/
/solr-6.4.1 14.31.10/chatbot-information-retrieval/superuser.com_questions_tagged_ubuntu_items.json
/Neo4j/certificates/
/Neo4j/index/
/Neo4j/logs/
/Neo4j/schema/
/Neo4j/neostore.nodestore.db.labels.id
/Neo4j/neostore.transaction.db.14
/Neo4j/neostore.transaction.db.15
/Neo4j/neostore.transaction.db.12
/Neo4j/neostore.transaction.db.13
/Neo4j/neostore.counts.db.b
/Neo4j/neostore.transaction.db.10
/Neo4j/neostore.counts.db.a
/Neo4j/neostore.transaction.db.11
/Neo4j/neostore.relationshiptypestore.db.names.id
/Neo4j/neostore.relationshipstore.db
/Neo4j/neostore.relationshipgroupstore.db
/Neo4j/neostore.relationshiptypestore.db.names
/Neo4j/neostore.nodestore.db.id
/Neo4j/neostore.propertystore.db
/Neo4j/neostore.transaction.db.3
/Neo4j/neostore.transaction.db.4
/Neo4j/neostore.transaction.db.5
/Neo4j/neostore.transaction.db.6
/Neo4j/neostore.transaction.db.7
/Neo4j/neostore.transaction.db.8
/Neo4j/neostore.transaction.db.9
/Neo4j/neostore.id
/Neo4j/neostore.relationshiptypestore.db.id
/Neo4j/neostore.transaction.db.16
/Neo4j/neostore.labeltokenstore.db.names.id
/Neo4j/neostore.transaction.db.17
/Neo4j/neostore.propertystore.db.index.id
/Neo4j/neostore.propertystore.db.index
/Neo4j/neostore.schemastore.db
/Neo4j/neostore.schemastore.db.id
/Neo4j/neostore.nodestore.db
/Neo4j/neostore.propertystore.db.strings.id
/Neo4j/neostore.propertystore.db.index.keys
/Neo4j/neostore.nodestore.db.labels
/Neo4j/neostore.propertystore.db.id
/Neo4j/neostore.labeltokenstore.db
/Neo4j/neostore.relationshipgroupstore.db.id
/Neo4j/neostore.relationshipstore.db.id
/Neo4j/neostore.propertystore.db.strings
/Neo4j/neostore.propertystore.db.arrays
/Neo4j/neostore.labeltokenstore.db.names
/Neo4j/neostore
/Neo4j/neostore.propertystore.db.arrays.id
/Neo4j/neostore.relationshiptypestore.db
/Neo4j/neostore.labeltokenstore.db.id
/Neo4j/neostore.propertystore.db.index.keys.id
/Neo4j/store_lock
/Neo4j/term_frequency/en_full.txt
