# Classification problem
161/183


## False Positives
https://forums.macrumors.com/forums/iphone-tips-help-and-troubleshooting.109/
This is an index page which is being characterised as a results page, because it contains all the necessary elements.
Problem is that index pages often have the same format, simply they don't have the body text. Here it is confusing body text with title text, thus giving incoherant answers.

https://www.macrumors.com/mac/
Confusing blog post extracts with posts

https://community.spiceworks.com/windows?source=navbar-subnav
Again index page problem

https://support.wix.com/en/ticket/c80d73fd-0599-4b07-a766-440ee5a6c720
??

https://community.mindjet.com/mindjet/topics/reinnstalling_old_version_after_breakdown
None of this site's pages actually work

https://community.mindjet.com/mindjet
index page problem

http://en.community.dell.com/owners-club/
Index page problem

https://community.dynamics.com/crm/f/117/t/229815
??
https://community.dynamics.com/crm/f/117/t/229818
??




## Problems:


# Parsing problem

